<h1>The Crowndfound Webpage</h1>
<p>Inaki Errazuriz /
Juan Ignacio Bernal</p>


<hr>

<div>
    Link to <%= link_to 'Index', 'users' %>
</div>
<div>
    Link to <%= link_to 'new', 'users/new' %>
</div>


